.container {
  min-height: 100vh;
}
body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}
.desktop {
  width: 100%;
  height: 1000px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: rgba(26, 28, 33, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: flex-start;
  background-color: rgba(26, 28, 33, 1);
}

.idimg{
  width: 250 px;
  height: 250 px;
}
.background {
  top: 15%;
  left: -327px;
  width: 3072px;
  height: 2271px;
  display: flex;
  padding: 0;
  position: absolute;
  /* align-self: auto; */
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop1-glow3 {
  top: 0px;
  left: 391px;
  width: 958px;
  height: 958px;
  /* position: absolute; */
  border-color: transparent;
}
.desktop1-glow2 {
  top: 59px;
  left: 927px;
  width: 100%;
  height: 1145px;
  opacity: 0.80;
  position: right;
  border-color: transparent;
}
.desktop1-glow {
  left: 248px;
  width: 100%;
  bottom: -7px;
  height: 1145px;
  opacity: 0.40;
  position: absolute;
  border-color: transparent;
}
.BT {
  position: relative;
  padding: 16px 30px;
  font-size: 1.5rem;
  color: var(--color);
  text-shadow: 0 0 15px var(--color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.5s;
  z-index: 1;
}
.hero {
  top: 30%;
  left: 20%;
  width: 1068.04541015625px;
  height: 559px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-end;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.pic {
  top: 0px;
  left: 50%;
  right: 50%;
  width: 100%;
  height: 559px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.box{
	position:absolute;
	left:40%;
	top:30%;
  width: 80%;
	transform: translate(-50%,-50%);
  /* background-color: rgba(176, 164, 184, 0.89); */
	border-radius:3px;
	padding:70px 100px;
}
.registration {
  top: 10%;
  right: 35%;
  width: 100%;
  height: 490px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:25px;
	color:#fff;	
  pointer-events:none;
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #e74c3c;	
}
.btn{
	color:#fff;
	background-color:#e74c3c;
	outline: none;
    border: 0;
    color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:50px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}
/*.btn:after{
	content:"";
	position:absolute;
	background:rgba(0,0,0,0.50);
	top:0;
	right:0;
	width:100%;
	height:100%;
}*/
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
	
}
.b-anim {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.b-anim:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.b-anim:active {
  color: #000
}

.b-anim:active:after {
  background: transparent;
}

.b-anim:hover:before {
  opacity: 1;
}

.b-anim:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #551e5a;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
.text-center{
	color:#fff;	
	text-transform:uppercase;
  font-size: 80px;
  margin: -50px 0 80px 0;
  display: block;
  text-align: center;
}
